/* 以下样式为南昌大学主页的footer样式 */
.ncu-footer{
    width: 100%;
    color: white;
    background: #143270;
    height: 39px;
    padding: 35px 0px 35px 0px;
    text-align: center;
    overflow: hidden;
}

.ncu-footer .footer-img{
    float: right;
}

.ncu-footer .footer-img img{
    padding-bottom: 10px;
}

.ncu-footer .footer-link li{
    display: inline-block;
    padding-right: 30px;

}

.ncu-footer .footer-link{
    font-size: 14px;
    margin-bottom: 10px;
}

.ncu-footer .footer-text{
    font-size: 12px;
}




/* 以下样式为南昌大学新闻网的footer样式 */

.new-footer{
    width: 100%;
    color: #888888;
}

.new-footer .content{
    width: 1000px;
    margin: 0 auto;
}

.friend-link{
    background: #F0F0F0;
    padding: 15px 5px 15px 5px;
    clear: both;
    min-width: 750px;
    border-top: 1px solid #DDD;
}


.friend-link select{
    color: #888888;
    min-width: 150px;
}

.link-tittle{
    width: 85px;
    padding-left: 10px;
    font-size: 14px;
    color: #0454A3;
    font-weight: 900;
}

.new-footer .left{
    float: left;
    padding: 25px 0px 0px 15px;
}

.new-footer .left li{
    text-align: center;
    display: inline-block;
    width: 74px;
    height: 16px;
    border-right: 1px solid #888888;
}

.new-footer .left li:first-child{
    text-align: left;
}

.new-footer .left li:last-child{
    border: none;
}

.new-footer .left li a{
    color: #888888;
    line-height: 16px;
}

.new-footer .left li a:hover{
    color: #2881BB;
}


.new-footer .left .left-text{
    padding-top: 16px;
}

.new-footer .left .left-text span span{
    background: #79909C;
    width: 27px;
    height: 12px;
    padding: 2px 5px;
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

.new-footer .left .left-text span a{
    color: #666;
}

.new-footer .left .left-text span a:hover{
    color: #2881BB;
}

.new-footer .right{
    float: right;
}

.new-footer .right .click{
    background: url("../images/news/bg_tg.png") left center no-repeat;
    padding: 40px 0 0 150px;
}

.new-footer .right .right-news-link a{
    background: url("../images/news/ico_tg.png") left center no-repeat;
    text-decoration: underline;
    color: #0454A3;
    line-height: 32px;
    padding: 0 10px 0 22px;
}

.new-footer .QR-Code{
    text-align: center;
    line-height: 240%;
    color: #666666;
    float: right;
    padding-right: 10px;
    padding-top: 20px;
    width: 80px;
}
